body{
    background-color: #a9a9a9;
    font-family: 'Trebuchet MS' ;
}
#preview{
    
    width: 500px;
}
div{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #a9a9a9;
  border-radius: 30px;
  box-shadow: #a9a9a9 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #47c4d4;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}